TZ=Europe/Nicosia

POSTGRES_PASSWORD=changeme
POSTGRES_USER=n8n
POSTGRES_DB=n8n

N8N_WEBHOOK_URL=http://192.168.2.5:3000
N8N_ENCRYPTION_KEY=changeme_32chars_or_longer_recommended
N8N_RUNNERS_AUTH_TOKEN=changeme

# Notification endpoint, where raw logs will be posted, meant to show the user.
N8N_NOTIF_URL=http://192.168.2.5:3000/webhook/browser-notification

# This is the endpoint to return the short positions
SHORTS_WEBHOOK_URL="http://192.168.2.5:3000/webhook/get-shorts"

# Restreamer credentials (leave empty to disable auth)
RS_USERNAME=
RS_PASSWORD=
RS_TOKEN=

ATEM_SYNC_LIMIT=50000
ATEM_IP=192.168.2.201
ATEM_SMB_SHARE=//192.168.2.201/CalvaryAtem
ATEM_SMB_USER=guest
ATEM_SMB_PASS=guest
ATEM_SMB_WORKGROUP=WORKGROUP
